.navbar {
   height: 50px;
   background-color: #003580;
   display: flex;
   justify-content: center; 
   padding-top: 15px;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
}

.navButton {
    margin-left: 20px;
}

.navButton button {
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
    background: gold;
    border: none;
    padding: 6px;
}